<div class="about-container">
  <h1 class="about-title">Digitalisierung im Volleyball</h1>
  <p class="about-paragraph">
    Volleymotion ist ein Projekt um die Digitalisierung im Volleyball
    voranzutreiben. Es ist eine Initiative in der jeder mit seiner
    Persönlichkeit und Expertise mitwirken kann. Volleymotion wird dabei in
    vielen Bereichen offene Schnittstellen anbieten, sodass auch andere Produkte
    von den Daten profitieren bzw. daraus entstehen können.
  </p>

  <h2 class="about-subtitle">Schritt 1: Unterstüzung der Trainer</h2>
  <p class="about-paragraph">
    Im ersten Schritt unterstüzt Volleymotion Trainer qualitatives Training zu
    geben, indem passende Übungen für die Mannschaft vorgeschlagen werden. Dabei
    wird insbesondere die Zeit der Trainingsvorbereitung minimiert. Im
    bestenfall hilft Volleymotion dabei die Barriere für unerfahrenen Trainern
    zu minimieren und so den Einstig in das Trainerleben zu erleichtern.
  </p>

  <h2 class="about-subtitle">Schritt 2: Spieler integrieren</h2>
  <p class="about-paragraph">
    Im zweiten Schritt werden die Spieler mit in die Plattform integriert. Es
    kommen weitere Funktionalitäten zur Trainingsverwaltung, wie die Zu- und
    Absage von Trainings und Spieltagen.
  </p>

  <h2 class="about-subtitle">Schritt 3: Content bereitstellen</h2>
  <p class="about-paragraph">
    Im dritten Schritt wird Trainingsinhalt rund um Volleyball generiert. Zu den
    bestehenden Übungen kommen noch qualitative Blog- und Videobeiträge die den
    Spieler und Trainern zur Verfügung gestellt werden.
  </p>

  <h2 class="about-subtitle">Schritt 4: Personalisierung</h2>
  <p class="about-paragraph">
    Mit Hilfe von künstlicher Intelligenz wird den Trainern sinnvolle Übungen
    für seine Mannschaft angezeigt. Der Trainer kann Taktiken, Übungen,
    Blogeinträge und Videos mit seiner Mannschaft oder einzelnen Spieler teilen.
  </p>
</div>
