<nb-card *ngIf="article$ | async as article">
    <nb-card-header>
        {{article?.title}}
        <small>
            {{article?.author?.firstname}} {{article?.author?.lastname}}
        </small>

    </nb-card-header>

    <nb-card-body>
        <div [innerHTML]="article?.description"></div>
    </nb-card-body>

    <nb-card-footer>
        <mat-chip-list *ngIf="article?.tags?.length">
            <mat-chip *ngFor="let tag of article.tags">{{tag.name}}</mat-chip>
        </mat-chip-list>
    </nb-card-footer>
</nb-card>