:host {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 1rem;
  min-height: 100%;
  padding: 1rem;

  .article-detail-container {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-row-gap: 1rem;

    .mat-card {
      display: flex;
      flex-direction: column;
      width: 100%;

      .mat-card-content {
        height: 100%;
      }

      .mat-card-actions {
        display: flex;
        justify-content: flex-end;
      }
    }

    .comments {
      line-height: 1.5;

      .comment {
        padding: 1rem 0;
        border-bottom: 1px solid rgb(219, 219, 219);
        
        &:last-of-type {
          border-bottom: none;
        }

        .user-name {
          font-size: 1.25rem;

          .user-position {
            font-size: 0.875rem;
          }
        }

        .message {
          font-size: 1.125rem;
        }
      }
    }
  }

  form {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;

    .mat-form-field {
      width: 100%;
    }
    .mat-icon-button {
      height: 100%;
    }
  }
}
