:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .team-card {
    position: relative;
    padding-right: 6rem;

    .team-card-actions {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 5px;
    }
  }

  .add-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}
