/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow-y: hidden;
  background-color: rgb(245, 247, 251);

  &.offline {
    filter: grayscale(.75)
  }
}
body {
  margin: 0;
  font-family: Lato, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

.mat-form-field.no-underline {
  .mat-form-field-wrapper {
    .mat-form-field-underline {
      display: none;
    }
  }
}

.mat-card {
  box-shadow: 0 0 0.5rem rgba(black, 0.25) !important;
}

quill-editor {
  width: 100%;

  .ql-container {
    min-height: 300px;

    > * {
      min-height: 300px;
    }
  }
}
