@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
}

html,
body {
  height: 100%;
  background-color: rgb(245, 247, 251);

  &.offline {
    filter: grayscale(0.75);
  }
}

body {
  margin: 0;
  font-family: Lato, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

.mat-form-field.no-underline {
  &.no-padding-bottom {
    .mat-form-field-wrapper {
      .mat-form-field-infix {
        padding-bottom: 0;
        padding-top: 0;
        border-top: none;
      }
    }
  }

  .mat-form-field-wrapper {
    .mat-form-field-underline {
      display: none;
    }
  }
}

.mat-card {
  box-shadow: 0 0 0.5rem rgba(black, 0.25) !important;
}

quill-editor {
  width: 100%;

  .ql-container {
    min-height: 300px;

    > * {
      min-height: 300px;
    }
  }
}

.nb-theme-cosmic nb-chat {
  height: 80vh;
}

.layout-container {
  position: relative;
}

.columns {
  position: relative;
}

nb-sidebar.left {
  transition: width 0.2s ease-out;
}
