<nb-card>

    <form [formGroup]="form" class="form" (ngSubmit)="submit(form)">
        <nb-card-header>{{title}}</nb-card-header>

        <nb-form-field>
            <input nbInput fullWidth formControlName="club" placeholder="Vereinsname">
        </nb-form-field>

        <nb-form-field>
            <input nbInput fullWidth formControlName="name" placeholder="Mannschaftsname">
        </nb-form-field>

        <nb-select fullWidth formControlName="sportType" placeholder="Volleyballart auswählen">
            <nb-option *ngFor="let sportType of sportTypes" [value]="sportType">
                {{sportType}}
            </nb-option>
        </nb-select>

        <nb-select fullWidth formControlName="teamType" placeholder="Einteilung auswählen">
            <nb-option *ngFor="let type of teamTypes" [value]="type">
                {{type}}
            </nb-option>
        </nb-select>

        <nb-select fullWidth formControlName="division" placeholder="Spielklasse auswählen">
            <nb-option *ngFor="let division of divisions" [value]="division">
                {{division}}
            </nb-option>
        </nb-select>

        <button nbButton type="submit" [nbSpinner]="isCreatingTeam$ | async" [disabled]="isCreatingTeam$ | async">
            {{buttonText}}
        </button>
    </form>

</nb-card>