.form {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1em;
  padding: 1em;

  &.geocode-form {
    padding-top: 0;
  }

  .contact-form {
    padding: 0 0 1em
  }

  .description-text-area {
    min-height: 7em;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }
}
