<nb-tabset>
    <nb-tab tabTitle="Übersicht">
        <nb-card>
            <nb-card-header>
                Spielerdaten
            </nb-card-header>
        </nb-card>

        <nb-card>
            <nb-card-header>Stärken</nb-card-header>
        </nb-card>

        <nb-card>
            <nb-card-header>Schwächen</nb-card-header>
        </nb-card>

        <nb-card>
            <nb-card-header>Verbesserungswunsch</nb-card-header>
        </nb-card>
    </nb-tab>

    <nb-tab tabTitle="Analyse">

    </nb-tab>

    <nb-tab tabTitle="Übungen">
        <nb-card  status="danger">
            <nb-card-header>
                Suche und Speichere Übungen für diesen Spieler
            </nb-card-header>
        </nb-card>
    </nb-tab>

</nb-tabset>