<mat-card>

    <mat-card-header>
        <mat-card-title>Sign-Up</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form class="sign-up-form" [formGroup]="signUpForm" (ngSubmit)="signUpWithEmailAndPassword(signUpForm)">

            <div class="row">
                <mat-form-field>
                    <input matInput placeholder="Vorname" autocomplete="name" formControlName="firstname">
                    <mat-error>
                        Name wird benötigt
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Nachname" autocomplete="family-name" formControlName="lastname">
                    <mat-error>
                        Nachname wird benötigt
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field>
                <input matInput placeholder="E-Mail" autocomplete="email" formControlName="email">
                <mat-error *ngIf="signUpForm?.controls?.email?.errors?.required">
                    Dies Feld wird benötigt
                </mat-error>
                <mat-error *ngIf="signUpForm?.controls?.email?.errors?.email">
                    Ungültige E-Mail
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" autocomplete="new-password" placeholder="Passwort"
                    formControlName="password">
                <mat-error *ngIf="signUpForm?.controls?.password?.errors?.required">
                    Dieses Feld wird benötigt
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" autocomplete="new-password" placeholder="Password wiederholen"
                    formControlName="passwordMatch" [errorStateMatcher]="passwordMatcher">
                <mat-error *ngIf="signUpForm?.errors?.mismatch">
                    Passwörter stimmen nicht überein
                </mat-error>
            </mat-form-field>

            <mat-form-field class="no-underline  no-padding-bottom">
                <input matInput formControlName="isAgbAccepted" hidden>
                <mat-checkbox (change)="onCheckboxChanged('isAgbAccepted', $event)">Ich habe die AGB und Datenschutzerklärung gelesen und stimme
                    dieser zu.</mat-checkbox>
                <mat-error *ngIf="signUpForm?.controls?.isAgbAccepted?.errors">
                    Bitte stimme der AGB zu
                </mat-error>
            </mat-form-field>

            <mat-form-field class="no-underline no-padding-bottom">
                <input matInput formControlName="isNewsletterAccepted" hidden>
                <mat-checkbox (change)="onCheckboxChanged('isNewsletterAccepted', $event)">Ich möchte Newsletter-Emails
                    erhalten.</mat-checkbox>
            </mat-form-field>

            <button class="sign-up-button" mat-flat-button color="primary" type="submit" aria-label="signup"
                [disabled]="isCreatingUserWithEmailAndPassword$ | async">Sign-Up</button>
        </form>
    </mat-card-content>
</mat-card>