<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-header>
                Sign-Up
            </nb-card-header>
            <nb-card-body>
                <form class="form" [formGroup]="signUpForm" (ngSubmit)="signUpWithEmailAndPassword(signUpForm)">
                    <div class="row">
                        <nb-form-field>
                            <input nbInput fullWidth placeholder="Vorname" autocomplete="name"
                                formControlName="firstname">
                        </nb-form-field>
                        <nb-form-field>
                            <input nbInput fullWidth placeholder="Nachname" autocomplete="family-name"
                                formControlName="lastname">
                        </nb-form-field>
                    </div>

                    <nb-form-field>
                        <input nbInput fullWidth placeholder="E-Mail" autocomplete="email" formControlName="email">
                    </nb-form-field>

                    <nb-form-field>
                        <input nbInput fullWidth placeholder="Password" autocomplete="new-password"
                            formControlName="password" type="password">
                    </nb-form-field>


                    <nb-checkbox nbInput formControlName="isAgbAccepted">
                        Ich habe die AGB und
                        Datenschutzerklärung gelesen und stimme
                        dieser zu.
                    </nb-checkbox>


                    <nb-checkbox fullWidth nbInput formControlName="isNewsletterAccepted">Ich möchte über Neuigkeiten
                        informiert werden.</nb-checkbox>


                    <button nbButton type="submit"
                        [disabled]="isCreatingUserWithEmailAndPassword$ | async">Sign-Up</button>
                </form>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>