.form {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1em;
  padding: 1em;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5em;
  }

  .sign-up-button {
    margin-top: 1rem;
  }
}
