:host {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  .mat-card {
    width: 100%;
    max-width: 35rem;

    .mat-card-header {
      display: flex;
      justify-content: center;
    }

    .sign-up-form {
      display: flex;
      flex-direction: column;

      mat-form-field {
        &.no-underline {
          height: 50px;

          .mat-form-field-infix {
            padding-bottom: 0;
          }
        }
      }

      .sign-up-button {
        margin-top: 1rem;
      }
    }
  }
}
