:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  nb-card {
    .card-header {
      display: flex;
      justify-content: space-between;
      padding-right: 5rem;

      .card-actions {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 5px;
      }
    }

    &.did-win {
      background-color: rgb(1, 65, 45);
    }

    &.did-loose {
      background-color: rgb(58, 2, 36);
    }
  }

  .add-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }

  .loading-spinner {
    margin: auto auto;
  }
}
