<ng-container *ngIf="team$ | async as team">
  <ng-container *ngIf="season$ | async as season">
    <nb-card>
      <nb-card-header> Spielerdaten </nb-card-header>

      <nb-card-body>
        <form [formGroup]="form" class="form" (ngSubmit)="submit(form, team)">
          <nb-form-field>
            <input
              nbInput
              fullWidth
              placeholder="Vorname"
              formControlName="firstname"
            />
          </nb-form-field>

          <nb-form-field>
            <input
              nbInput
              fullWidth
              placeholder="Nachname"
              formControlName="lastname"
            />
          </nb-form-field>

          <nb-form-field>
            <input
              nbInput
              fullWidth
              placeholder="Trikot Nr."
              formControlName="jerseyNumber"
              type="number"
            />
          </nb-form-field>

          <nb-select
            fullWidth
            placeholder="Position auswählen"
            formControlName="position"
          >
            <nb-option *ngFor="let position of positions" [value]="position">
              {{ position }}
            </nb-option>
          </nb-select>
        </form>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header> Stärken </nb-card-header>

      <nb-card-body>
        <mat-chip-list>
          <mat-chip *ngFor="let strength of strengths.controls">
            {{ strength?.value?.name }}
          </mat-chip>
        </mat-chip-list>
        <div class="card-container">
          <nb-form-field class="form-field">
            <input
              #strengthInput
              nbInput
              [matAutocomplete]="strengthTags"
              fullWidth
              placeholder="Tag eingeben"
            />
            <mat-autocomplete
              #strengthTags
              (optionSelected)="
                onStrengthTagSelected($event);
                strengthInput.value = '';
                strengthInput.blur()
              "
            >
              <mat-option
                *ngFor="let tag of filteredTags | async"
                [value]="tag"
              >
                {{ tag?.name }}
              </mat-option>
            </mat-autocomplete>
          </nb-form-field>
          <button nbButton ghost (click)="openTagDialog()">
            <nb-icon icon="info-outline"></nb-icon>
          </button>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header> Schwächen </nb-card-header>
      <nb-card-body>
        <mat-chip-list>
          <mat-chip *ngFor="let weakness of weaknesses.controls">
            {{ weakness?.value?.name }}
          </mat-chip>
        </mat-chip-list>
        <div class="card-container">
          <nb-form-field class="form-field">
            <input
              #weaknessInput
              nbInput
              [matAutocomplete]="weaknessTags"
              fullWidth
              placeholder="Tag eingeben"
            />
            <mat-autocomplete
              #weaknessTags
              (optionSelected)="
                onWeaknessesSelected($event);
                weaknessInput.value = '';
                weaknessInput.blur()
              "
            >
              <mat-option
                *ngFor="let tag of filteredTags | async"
                [value]="tag"
              >
                {{ tag?.name }}
              </mat-option>
            </mat-autocomplete>
          </nb-form-field>
          <button nbButton ghost (click)="openTagDialog()">
            <nb-icon icon="info-outline"></nb-icon>
          </button>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header> Verbesserungwunsch </nb-card-header>
      <nb-card-body>
        <mat-chip-list>
          <mat-chip *ngFor="let improvement of improvements.controls">
            {{ improvement?.value?.name }}
          </mat-chip>
        </mat-chip-list>
        <div class="card-container">
          <nb-form-field class="form-field">
            <input
              #improvementInput
              nbInput
              [matAutocomplete]="improveTags"
              fullWidth
              placeholder="Tag eingeben"
            />
            <mat-autocomplete
              #improveTags
              (optionSelected)="
                onImprovementSelected($event);
                improvementInput.value = '';
                improvementInput.blur()
              "
            >
              <mat-option
                *ngFor="let tag of filteredTags | async"
                [value]="tag"
              >
                {{ tag?.name }}
              </mat-option>
            </mat-autocomplete>
          </nb-form-field>
          <button nbButton ghost (click)="openTagDialog()">
            <nb-icon icon="info-outline"></nb-icon>
          </button>
        </div>
      </nb-card-body>
    </nb-card>

    <button
      *ngIf="(player$ | async) === undefined"
      nbButton
      fullWidth
      type="submit"
      [disabled]="isCreatingPlayer$ | async"
      (click)="submit(form, team, season)"
    >
      Spieler erstellen
    </button>

    <button
      *ngIf="player$ | async as player"
      nbButton
      fullWidth
      type="submit"
      [disabled]="isUpdatingPlayer$ | async"
      (click)="submit(form, team, season, player)"
    >
      Spieler aktualisieren
    </button>
  </ng-container>
</ng-container>
