.player-card {
  position: relative;
  padding-right: 6rem;

  .player-card-header {
    display: flex;
    justify-content: space-between;
  }
}

.player-card-jersey-container {
  display: inline-block;
  padding-left: 0.5rem;
}
