.player-card {
  position: relative;
  padding-right: 6rem;

  .player-card-header {
    display: flex;
    justify-content: space-between;
  }
}

.add-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
