<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        Passwort vergessen?
      </nb-card-header>
      <nb-card-body>
          <form class="form" [formGroup]="form" (ngSubmit)="sendEmail(form)">
              <nb-form-field>
                  <input nbInput fullWidth type="email" formControlName="email" placeholder="Bitte geben Sie Ihre E-Mail Adresse ein">
              </nb-form-field>
              <button fullWidth nbButton>E-Mail anfordern</button>
          </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
