<div class="container" *ngIf="{
    team: team$ | async,
    season: season$ | async
} as data">

    <nb-card class="card">
        <nb-card-header class="card-header">
            Saisonziel
            <button class="action-btn" nbButton ghost status="info" [routerLink]="['../saisons/bearbeiten', data?.season?.id, data?.team?.id]">
                <nb-icon icon="edit-outline"></nb-icon>
            </button>
        </nb-card-header>
        <nb-card-body>
            {{data?.season?.goal}}
        </nb-card-body>
    </nb-card>

    <nb-card class="card">
        <nb-card-header class="card-header">
            Trainingsfocus
            <button class="action-btn" nbButton ghost status="info" [routerLink]="['../saisons/bearbeiten', data?.season?.id, data?.team?.id]">
                <nb-icon icon="edit-outline"></nb-icon>
            </button>
        </nb-card-header>
        <nb-card-body>
          <mat-chip-list class="tag-list">
              <mat-chip *ngFor="let tag of data?.season?.tags">
                  {{tag?.name}}
              </mat-chip>
          </mat-chip-list>
        </nb-card-body>
    </nb-card>

</div>

<div class="charts">
    <nb-card class="chart-card">
        <nb-card-header>Spiele</nb-card-header>
        <nb-card-body class="chart-card-body">
            <google-chart type="PieChart" [data]="data" [options]="options"></google-chart>
        </nb-card-body>
    </nb-card>

    <nb-card class="chart-card">
        <nb-card-header>Trainingsbeteiligung</nb-card-header>
        <nb-card-body class="chart-card-body">
            <google-chart type="PieChart" [data]="trainData" [options]="options"></google-chart>
        </nb-card-body>
    </nb-card>

    <nb-card class="chart-card">
        <nb-card-header>Spielbeteiligung</nb-card-header>
        <nb-card-body class="chart-card-body">
            <google-chart type="PieChart" [data]="trainData" [options]="options"></google-chart>
        </nb-card-body>
    </nb-card>

    <nb-card class="chart-card">
        <nb-card-header>Trainingsfocus</nb-card-header>
        <nb-card-body class="chart-card-body">
            <google-chart type="PieChart" [data]="data" [options]="options"></google-chart>
        </nb-card-body>
    </nb-card>
</div>