:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .tag-list {
    display: flex;
    justify-content: center;
  }

  .charts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1em;
    width: 100%;

    .chart-card {
      &.border-red {
        border: 1px solid red;
      }

      .chart-card-body {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    @media all and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  nb-card {
    nb-card-header {
      text-align: center;
    }

    nb-card-body {
      text-align: center;
    }
  }
}
