:host {
  .video-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 360px));
    gap: 2rem;
    justify-content: center;
    align-items: center;
    place-items: center;
  }
}

.add-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.filter-btn {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
}
