<div class="video-container" *ngIf="(videoTrainings$ | async)?.length >=1 && (isLoading$ | async) === false; else noData">
  <iframe
    *ngFor="let videoTraining of videoTrainings$ | async"
    id="ytplayer"
    type="text/html"
    width="320"
    height="240"
    [src]="videoTraining?.url"
    frameborder="0"
  ></iframe>
</div>

<ng-template #noData>
  <vm-no-data
    [routerLink]="['../erstellen']"
    message="Keine Videos mit dieser Konfiguration gefunden..."
  ></vm-no-data>
</ng-template>


<button mat-fab class="filter-btn" color="primary" (click)="showFilterDialog()" [matBadge]="selectedTags?.length ? selectedTags.length + 1 : 1" matBadgeColor="accent">
  <mat-icon>filter_alt</mat-icon>
</button>

<button class="add-btn" mat-fab [routerLink]="['../erstellen']">
  <mat-icon>add</mat-icon>
</button>
