.root {
  display: flex;
  flex-direction: column;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
  }

  .router-outlet {
    height: 100%;
    min-height: 100vh;
  }
}
