.container {
  display: flex;
  height: 100%;

  .card {
    margin: auto auto;
  }
}

.training-units {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .training-unit {
    display: flex;
    align-items: center;
  }
}
