<nb-card *ngFor="let training of trainingList$ | async" class="card">
  <nb-card-header class="card-header"
    >{{ training?.day }}
    <div class="card-header-actions">
      <button
        class="delete-btn"
        nbButton
        ghost
        status="danger"
        (click)="deleteTraining(training.id, $event)"
      >
        <nb-icon icon="trash-outline"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div>
      {{ training?.address?.street }} {{ training?.address?.streetnumber }}
    </div>
    <div>
      {{ training?.address?.postalcode }} {{ training?.address?.locality }}
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="training-units">
      <div *ngFor="let unit of training?.trainingUnits">
        <a [routerLink]="['../einheit/bearbeiten/' + unit.id]">
          {{ unit?.date | timestamp | date: 'dd.MM.yy' }}
        </a>

        <button nbButton ghost [nbTooltip]="unit?.participants?.length ?? 0 + ' Zusagen'" >
          <nb-icon icon="people-done-outline"></nb-icon>
          {{0}}
        </button>
        <button nbButton ghost [nbTooltip]="unit?.participants?.length ?? 0 + ' Unbestimmt'" >
          <nb-icon icon="people-outline"></nb-icon>
          {{0}}
        </button>
        <button nbButton ghost [nbTooltip]="unit?.participants?.length ?? 0 + ' Absagen'" >
          <nb-icon icon="people-delete-outline"></nb-icon>
          {{0}}
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

<nb-card
  *ngFor="let unit of trainingUnits$ | async"
  [routerLink]="['../einheit/' + unit.id]"
>
  <nb-card-header>{{ unit?.date | timestamp | date: 'dd.MM' }}</nb-card-header>
</nb-card>

<button class="add-btn" mat-fab [routerLink]="['../erstellen']">
  <mat-icon>add</mat-icon>
</button>
