<div class="container">
    <nb-card status="danger" class="card border-red">
        <nb-card-header>Trainingseinheit erstellen</nb-card-header>
        <nb-card-body>
            <ul>
                <li>Übungsvorschläge mit den Schwerpunkt des Saisonfocus</li>
                <li>Übungsvorschläge mit der Anzahl von Spieler bei einem Training</li>
                <li>Übungsvorschläge mit den aktuellen Spieler eines Trainings und deren Schwächen</li>
                <li>Übungsvorschläge mit den aktuellen Spieler eines Trainings und deren Verbesserungswüsche</li>
                <li>usw... :)</li>
            </ul>
        </nb-card-body>
    </nb-card>
</div>
