.season-card {
    position: relative;
    padding-right: 6rem;

    .season-card-actions {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 5px;
    }
  }