<ng-container *ngIf="team$ | async as team; else noTeam">
    <nb-card class="season-card" *ngFor="let season of seasons$ | async" (click)="selectSeason(season)">
        <nb-card-header>Saison {{season?.name}}

            <div class="season-card-actions">
                <button class="edit-btn" nbButton ghost status="info" [routerLink]="['bearbeiten', season.id, team.id]"
                    (click)="stopPropagation($event)">
                    <nb-icon icon="edit-outline"></nb-icon>
                </button>
            </div>

        </nb-card-header>
    </nb-card>
</ng-container>

<vm-loading-card class="loading-indicator" [isLoading$]="isLoadingSeasons$" *ngIf="!(seasons$ | async).length"></vm-loading-card>

<ng-template #noTeam>
    <ng-container *ngIf="(isLoadingSeasons$ | async) === false">
        <nb-card class="no-team-card" accent="danger">
            <nb-card-header>Bitte wähle eine <a [routerLink]="['/mannschaften']">Mannschaft</a> aus</nb-card-header>
        </nb-card>
    </ng-container>
</ng-template>