<nb-card>
  <form [formGroup]="form" class="form" (ngSubmit)="submit(form)">
    <nb-card-header>Videotraining erstellen</nb-card-header>

    <nb-form-field>
      <input
        nbInput
        fullWidth
        formControlName="url"
        placeholder="Youtube-Link"
      />
    </nb-form-field>

    <nb-select
      fullWidth
      formControlName="sportType"
      placeholder="Volleyballart auswählen"
    >
      <nb-option *ngFor="let sportType of sportTypes" [value]="sportType">
        {{ sportType }}
      </nb-option>
    </nb-select>

    <nb-form-field *ngFor="let control of tags.controls; let index">
      <input fullWidth nbInput disabled [value]="control?.value?.name" />
      <button
        nbSuffix
        nbButton
        ghost
        status="danger"
        type="button"
        (click)="removeTag(index, $event)"
      >
        <nb-icon icon="trash-outline" ghost></nb-icon>
      </button>
    </nb-form-field>

    <nb-form-field>
      <input
        nbInput
        #tagInput
        fullWidth
        [matAutocomplete]="tagsAuto"
        (keydown)="onInputChanged($event)"
        placeholder="Tags festlegen"
      />
      <mat-autocomplete
        #tagsAuto
        (optionSelected)="onTagClicked($event)"
        (optionSelected)="tagInput.value = ''; tagInput.blur()"
      >
        <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
          {{ tag?.name }}
        </mat-option>
      </mat-autocomplete>
    </nb-form-field>

    <button
      nbButton
      type="submit"
      [nbSpinner]="isCreating$ | async"
      [disabled]="isCreating$ | async"
    >
      erstellen
    </button>
  </form>
</nb-card>
