:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem 1rem 1rem;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
    text-align: justify;
    line-height: 1.5;

    h1 {
      text-align: center;
      font-size: 250%;
    }

    h2 {
      text-align: center;
      font-size: 200%;
      margin-bottom: 2rem;
    }

    p {
      font-size: 125%;
      margin-bottom: 2rem;
    }

    .heart-img-container {
      margin-top: 1rem;

      .heart-img {
        width: 5rem;
        display: block;
        margin: 0 auto;
        animation: heartbeat 5s infinite;
      }
    }

    @keyframes heartbeat {
      0% {
        transform: scale(0.75);
      }
      20% {
        transform: scale(1);
      }
      40% {
        transform: scale(0.75);
      }
      60% {
        transform: scale(1);
      }
      80% {
        transform: scale(0.75);
      }
      100% {
        transform: scale(0.75);
      }
    }
  }
}
