<div class="content">
    <h1>Volley-Motion</h1>
    <h2>Weil Volleyball Menschen Bewegt</h2>

    <p>
        Liebe Volleyballerinnen und Volleyballer,<br>
        Volleyball ist eine großartige Sportart weil Sie Menschen bewegt und Menschen verbindet.<br>
        Durch Volleyball habe Ich meine besten Freunde kennengelernt und viele schöne Momente erlebt.<br>
        Viele von Euch werden ähnliche Erfahrungen und Momente mit Volleyball verbinden.
    </p>

    <p>
        <b>
            Unsere Liebe zum Volleyball ist eine Sache die uns alle verbindet.
        </b>
        <br>
        Deswegen brauche Ich eure Hilfe um den
        Volleyballsport und den Menschen die dahinterstehen etwas zurückgeben zu können.
    </p>

    <p>
        Mit dieser Seite würde ich gerne die Möglichkeit schaffen neue digitale Angebote rund um den Volleyball zu
        erkennen
        und umzusetzen. Damit das ganze Erfolg hat, ist <b>Eure Meinung gefragt</b>. Wenn ihr schon immer zu einem oder
        mehrere Themen eine gute Idee hattet
        oder zu einem bestimmten Thema einfach mal eure Meinung loswerden wollt, könnt Ihr hier dies tun.
    </p>

    <p>
        Ich freue mich schon auf eure Ideen und Meinungen.
    </p>

    <div class="heart-img-container">
        <img class="heart-img" src="assets/heart.svg" alt="Herz">
    </div>
</div>


<!-- Die Mission
Volleyball ist die 5. größte Sportart in Deutschland mit ca 400000 Mitglieder jedoch ist die Zahl der Mitglieder
Rücklaufig und
zum letzten Jahr sind ca 20% der Mitglieder flöten gegangen.

Digitalisierung kann dabei helfen die Sportart beliebter zu machen und den Wachstum anzuregen, aber auch bestehende
Strukturen zu stabilisieren.

Volleyball AG Börse
Um die Volleyball-Jugend zu stärken ist die Idee die Sportart Volleyball direkt in den Schulen beliebter und präsenter
zu machen.
Auf einer Karte könnten Schulen die Interesse und die Hallenzeiten hätten eine Volleyball-AG
Spieler und/oder Trainer die eine Volleyball-AG leiten würden könnten auf die Schulen zugehen und so für mehr Volleyball
AG's sorgen

Ideenbörse für Digitalisierung im Volleyball
Hier könnt ihr eure Idee wie man mit Hilfe der Digitalisierung den Volleyballsport diskutieren

Turnier mit automatischer einteilung und Auswertung
-->