<nav>
    <mat-toolbar color="primary">
        <a routerLink="/" class="title-link" (click)="closeMenu()">
            <img class="title-link-logo" src="assets/logo.svg" alt="logo">
            <h1>Volley-Motion</h1>
        </a>
        <button aria-label="menu-toggle" mat-icon-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <div class="nav-list-container" [class.is-visible]="isMenuVisible">
        <ul class="nav-list">
            <li class="nav-list-item" (click)="toggleMenu()">
                <a [routerLink]="['/mannschaften']" class="nav-list-item-link"
                    routerLinkActive="router-link-active">Mannschaften</a>
            </li>
            <li class="nav-list-item" (click)="toggleMenu()">
                <a [routerLink]="['/training']" class="nav-list-item-link"
                    routerLinkActive="router-link-active">Training</a>
            </li>
            <li class="nav-list-item" (click)="toggleMenu()">
                <a [routerLink]="['/spiele']" class="nav-list-item-link"
                    routerLinkActive="router-link-active">Saisonspiele</a>
            </li>
            <li class="nav-list-item" (click)="toggleMenu()">
                <a [routerLink]="['/spieler']" class="nav-list-item-link"
                    routerLinkActive="router-link-active">Spieler</a>
            </li>
            <li class="nav-list-item" (click)="toggleMenu()">
                <a [routerLink]="['/trainingsspiele']" class="nav-list-item-link"
                    routerLinkActive="router-link-active">Trainingsspiele</a>
            </li>
            <li class="nav-list-item" (click)="toggleMenu()">
                <a [routerLink]="['/chat']" class="nav-list-item-link" routerLinkActive="router-link-active">Chat</a>
            </li>
        </ul>
        <div class="logout-container" *ngIf="uid$ | async; else auth ">
            <button class="logout-btn" mat-icon-button (click)="logout()" aria-label="logout">
                <mat-icon>exit_to_app</mat-icon>
            </button>
            <mat-label>
                Logout
            </mat-label>
        </div>
    </div>

    <ng-template #auth>
        <div class="auth-container">
            <a routerLink="login" (click)="toggleMenu()">Login</a>
            <a routerLink="sign-up" (click)="toggleMenu()">Sign-Up</a>
        </div>
    </ng-template>


</nav>