.mat-toolbar {
  box-shadow: 2px 5px 5px rgba(black, 0.2);

  .mat-icon-button {
    margin-left: auto;
  }

  .title-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;

    .title-link-logo {
      margin-right: .5rem;
      width: 2.5rem;
    }
  }
}

.nav-list-container {
  position: absolute;
  display: grid;
  grid-template-rows: 0.8fr 0.2fr;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  background-color: blueviolet;
  transform: translateY(100vh);
  opacity: 0;
  transition: opacity 0.15s ease-out, transform 0.33s ease-out;
  display: none;
  z-index: 0;

  &.is-visible {
    transform: translateY(0);
    opacity: 1;
    display: grid;
    z-index: 10000;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    .nav-list-item {
      font-weight: 500;
      font-size: larger;
      padding: 1rem;

      .nav-list-item-link {
        text-decoration: none;
        transition: color 0.25s ease-out;
        color: rgb(189, 132, 235);

        &.router-link-active {
          color: #fff;
          border-radius: 0.5rem;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .logout-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    color: #fff;

    .logout-btn {
      .mat-icon {
        color: #fff;
      }
    }
  }

  .auth-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    color: #fff;

    a {
      padding: 0.5rem 1rem;
      color: #fff;
      text-decoration: none;
      font-size: large;
    }
  }
}
