:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .map {
    width: 100%;
    height: 100%;
  }

  .filter-btn {
    position: absolute;
    bottom: 6rem;
    right: 2rem;
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
