<nb-card>
    <nb-card-header>
        Feedback
    </nb-card-header>

    <nb-card-body>
        <form class="form" [formGroup]="form" (ngSubmit)="submit(form)">

            <nb-form-field>
                <input nbInput fullWidth placeholder="Titel" formControlName="title">
            </nb-form-field>

            <nb-form-field>
                <textarea nbInput fullWidth placeholder="Beschreibung" formControlName="description"></textarea>
            </nb-form-field>

            <button nbButton type="submit" [disabled]="isSending$ | async">Feedback absenden</button>
        </form>
    </nb-card-body>
</nb-card>