<div class="container">
    <nb-card status="danger" class="card border-red">
        <nb-card-header>
            Erstelle Artikel zu bestimmten Themen
        </nb-card-header>
        <nb-card-body>
            <ul>
                <li>Erstelle Artikel zu bestimmten Übungen</li>
                <li>Erstelle Artikel zu bestimmten Tags</li>
                <li>Erstelle Artikel zu den Analysedaten</li>
                <li>Erstelle Artikel rund um Volleyball</li>
                <li>Diskutiere mit anderen Trainern über bestimmte Themen</li>
            </ul>
        </nb-card-body>
    </nb-card>
</div>