:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;

    .mat-chip-list-container {
      margin-bottom: 0.25rem;
    }

    .summary-form-field {
      text-align: right;
    }
  }
}
