:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid rgb(230, 230, 230);
  background-color: rgb(245, 245, 245);
  
  a {
    padding: 0 1rem;
  }
}
