:host {
  display: flex;
  justify-content: center;
  align-items: center;

  nb-card {
    nb-card-body {
      nb-select {
        padding: 0.5em 0;
      }
    }

    nb-card-footer {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: flex-end;
      gap: 0 1rem;
    }
  }
}
