<nb-card class="traning-match-filter-card">
  <nb-card-header>
    Filter
  </nb-card-header>

  <nb-card-body>
    <form class="training-match-filter-form" [formGroup]="form">
      <nb-select
        fullWidth
        formControlName="sportType"
        placeholder="Volleyballart auswählen"
      >
        <nb-option *ngFor="let sportType of sportTypes" [value]="sportType">
          {{ sportType }}
        </nb-option>
      </nb-select>

      <nb-select
        fullWidth
        formControlName="teamType"
        placeholder="Einteilung auswählen"
      >
        <nb-option *ngFor="let type of teamTypes" [value]="type">
          {{ type }}
        </nb-option>
      </nb-select>

      <nb-select
        fullWidth
        formControlName="division"
        placeholder="Spielklasse auswählen"
      >
        <nb-option *ngFor="let division of divisions" [value]="division">
          {{ division }}
        </nb-option>
      </nb-select>
    </form>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton (click)="resetFilters()">Zurücksetzen</button>
    <button nbButton (click)="applyFilters(form)">Anwenden</button>
  </nb-card-footer>
</nb-card>
