<hp-header class="header"></hp-header>
<section class="showcase-section">
  <div class="showcase-content">
    <h1 class="showcase-title">Volleyball-Training Organisieren</h1>
    <h2 class="showcase-subtitle">Einfach und Unkompliziert mit Volleymotion!</h2>
    <p class="showcase-paragraph">
      Mit intelligenten Übungsvorschlägen hilft dir Volleymotion deine Planungszeit <br>
      für Trainingseinheiten zu reduzieren und die Qualität deines Trainings zu verbessern.
    </p>
  </div>

  <a class="showcase-show-more" href="#info">
    <img src="assets/icons/volleyball.svg" class="showcase-show-more-icon">
    Mehr Erfahren
  </a>
  <div class="showcase-background-wrapper">
    <div class="showcase-background"></div>
  </div>
</section>

<section id="info" class="info-section">

  <div class="info-card-wrapper">

    <hp-card title="Mannschaften verwalten" src="assets/icons/team.svg" alt="team"
      content="Erstelle eine oder mehrere Mannschaften und organisiere dein Training einfach und umkompliziert per App. Lade deine Spieler ein und teile Übungen und Artikel mit deinen Spielern">
    </hp-card>


    <hp-card title="Training erstellen" src="assets/icons/sheets.svg" alt="training"
      content="Erstelle aus über X Übungen dein Training in weniger als 15 Minuten. Nutze dabei unsere intelligente Suchfunktion um aus Trainingsschwerpunkten die besten Übungen zu wählen.">
    </hp-card>

    <hp-card title="Analysiere deine Saison" src="assets/icons/graph.svg" alt="analyse"
      content="Trage die Ergebnisse deiner Spieltage ein und erhalte Statistiken zu Training- und Spielerbeteiligung deiner laufenden Saison.">
    </hp-card>

    <hp-card title="Vernetze dich" src="assets/icons/networking.svg" alt="netzwerk"
      content="Vernetze dich mit anderen Volleyball-Trainern, schreibe Artikel zu Themen rund um Volleyball, pflege den öffentlichen Auftritt deiner Mannschaft und baue deine Trainerkompetenzen weiter aus.">
    </hp-card>

  </div>

</section>

<hp-footer>

</hp-footer>