<div class="container">
    <nb-card status="danger" class="card border-red">
        <nb-card-header>
            Erstelle Übungen
        </nb-card-header>
        <nb-card-body>
            <ul>
                <li>Erstelle Übungen zu bestimmten Tags</li>
                <li>Erstelle Übungen zu bestimmten Positionen</li>
                <li>Erstelle Übungen zu einer bestimmten Anzahl von Spielern</li>
                <li>Kommentiere andere Übungen</li>
            </ul>
        </nb-card-body>
    </nb-card>
</div>