<nb-layout>
  <nb-layout-header fixed>
    <div class="header">

      <button aria-label="menu-toggle" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>

      <a routerLink="/" class="header-brand">
        <img class="header-brand-logo" src="assets/logo.svg" alt="logo">
        <h1 class="header-brand-name">Volleymotion</h1>
      </a>

      <div class="data-container">
        <div class="team-container" *ngIf="team$ | async as team">
          {{team?.club}} {{team?.name}}
        </div>
        <div class="season-container" *ngIf="season$ | async as season">
          {{season?.name}}
        </div>
      </div>

    </div>
  </nb-layout-header>


  <nb-sidebar #sidebar fixed [state]="sidebarState" class="sidebar">
    <nb-menu [items]="items$ | async"></nb-menu>

    <button nbButton ghost status="info" class="install-btn" (click)="showInstallDialog()" *ngIf="deferredPrompt">
      Zum Startbildschirm hinzufügen
    </button>

    <button nbButton ghost status="primary" class="logout-btn" (click)="logout()">
      <nb-icon icon="log-out-outline"></nb-icon>
      logout
    </button>

  </nb-sidebar>

  <nb-layout-column>
    <div class="router-outlet-container" (click)="sidebar.collapse()">
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <a routerLink="./impressum">Impressum</a>
    <a routerLink="./datenschutz">Datenschutz</a>
  </nb-layout-footer>

</nb-layout>