<h1 mat-dialog-title>Registrierung erforderlich</h1>
<mat-dialog-content>
    <p>Diese Funktion ist nur für registriete Benutzer möglich.</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button aria-label="cancel-btn" matDialogClose>Abbrechen</button>
    <button mat-flat-button color="accent" matDialogClose [routerLink]="['/login']" aria-label="login-btn">Login</button>
    <button mat-flat-button color="primary" matDialogClose [routerLink]="['/sign-up']" aria-label="sign-up-btn">Sign-Up</button>
</mat-dialog-actions>