.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5em;
  place-items: center;
  text-align: center;

  .team-label {
    display: block;
    font-size: 1.25em;
    margin-bottom: 0.5em;
  }

  nb-form-field {
    margin-bottom: 3px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
}

.comment-form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 0.5em;
}

.player-participations {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1em;

  .player-participation {
    .player-label {
      display: block;
      padding-bottom: 0.5em;
    }

    .player-slider-container {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 0.5em;
      align-items: center;

      .player-slider {
        width: 100%;
      }
    }
  }
}

.mat-chip-list {
  .mat-chip {
    &.is-active {
      background-color: rgb(120, 238, 120);
    }
  }
}

.submit-btn {
  width: 100%;
}
