<div class="container" *ngIf="{
    match: match$ | async,
    team: team$ | async,
    user: user$ | async
  } as data">
  <nb-tabset #tabSet>
    <nb-tab tabTitle="Übersicht">
      <nb-card>
        <nb-card-header>
          {{ data?.match?.opponent }}
        </nb-card-header>
        <nb-card-body>
          <div>
            <mat-label>{{ data?.match?.address?.street }}
              {{ data?.match?.address?.streetnumber }}</mat-label>
          </div>
          <div>
            <mat-label>{{ data?.match?.address?.postalcode }}
              {{ data?.match?.address?.locality }}</mat-label>
          </div>
          <div>
            <mat-label>{{ data?.match?.address?.administrativeArea }}
              {{ data?.match?.address?.country }}
            </mat-label>
          </div>
        </nb-card-body>
        <!-- 
        <nb-card-footer>
          <button nbButton ghost>
            <nb-icon staus="success" icon="navigation-2-outline"></nb-icon>
          </button>
        </nb-card-footer>
        -->
      </nb-card>

      <nb-card *ngIf="data?.match?.playerParticipations?.length">
        <nb-card-header>Anwesende Spieler</nb-card-header>
        <nb-card-body>
          <mat-chip-list>
            <mat-chip [selected]="playerParticipation.didParticipate"
              *ngFor="let playerParticipation of playerParticipations">
              {{ playerParticipation?.firstname }} {{ playerParticipation?.lastname }}
            </mat-chip>
          </mat-chip-list>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>Kommentare</nb-card-header>
        <nb-card-body>
          <vm-match-comment-item [matchComment]="comment" (deleteMatchComment)="onMatchCommentDelete($event)"
            *ngFor="let comment of matchComments$ | async"></vm-match-comment-item>
        </nb-card-body>
        <nb-card-body>
          <form class="comment-form" [formGroup]="commentForm"
            (ngSubmit)="addComment(commentForm, data?.match, data?.user)">
            <nb-form-field>
              <input nbInput fullWidth placeholder="Kommentar hinzufügen" formControlName="comment" />
            </nb-form-field>
            <button nbButton type="submit" [disabled]="isAddingCommentToMatch$ | async">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
          </form>
        </nb-card-body>
      </nb-card>
    </nb-tab>

    <nb-tab tabTitle="Bearbeiten" *ngIf="match$ | async as match">
      <nb-card>
        <nb-card-header>Spielverlauf</nb-card-header>
        <nb-card-body>
          <div class="team-container">

            <mat-label class="team-label">{{ data?.team?.club }}</mat-label>
            <mat-label class="team-label">{{ data?.match?.opponent }}</mat-label>

            <ng-container *ngFor="let matchSet of match?.result?.sets let index = index" class="team-container">
              <nb-form-field>
                <input [(ngModel)]="matchSet.homeTeam" nbInput placeholder="Satzergebnis" type="number" />
              </nb-form-field>
              <nb-form-field>
                <input [(ngModel)]="matchSet.opponent" nbInput placeholder="Satzergebnis" type="number" />
              </nb-form-field>
            </ng-container>

          </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>Anwesende Spieler</nb-card-header>
        <nb-card-body>
          <mat-chip-list [multiple]="true">
            <mat-chip [selected]="playerParticipation.didParticipate"
              *ngFor="let playerParticipation of playerParticipations"
              (click)="playerParticipation.didParticipate = !playerParticipation?.didParticipate">
              {{ playerParticipation?.firstname }} {{ playerParticipation?.lastname }}
            </mat-chip>
          </mat-chip-list>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>Spielerbeteiligungen</nb-card-header>
        <nb-card-body>
          <div class="player-participations">
            <div class="player-participation" *ngFor="let playerParticipation of playerParticipations">
              <mat-label class="player-label">{{ playerParticipation?.firstname }} {{ playerParticipation?.lastname }}
              </mat-label>
              <div class="player-slider-container">
                <mat-slider id="hello" class="player-slider" max="100" min="0" step="1"
                  [disabled]="!playerParticipation.didParticipate" [(ngModel)]="playerParticipation.percentage" #slider>
                </mat-slider>
                <mat-label class="player-slider-label">{{slider.value}}%</mat-label>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <button nbButton class="submit-btn" (click)="saveMatch(match, playerParticipations)">Speichern</button>

    </nb-tab>
  </nb-tabset>
</div>